users:
  - default
  - name: ai
    gecos: AI
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin
    shell: /bin/bash
    ssh_authorized_keys:
      - {{ ssh_pub_key }}

package_update: true
package_upgrade: true

packages:
  - git